.checkout-progress-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $white;
  border: 1px solid $off-white;
  border-radius: 30px;
  width: 100%;
  margin: 30px 0 60px;

  /* ----------- Progress bar common styling ----------- */

  .progress-block {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 15px 10px;

    a, span {
      color: $primary;
      text-transform: uppercase;
      z-index: 1;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: auto;
      right: 0.5px;
      transform: translateX(100%);
      display: block;
      height: 100%;
      width: 20px;
      background-color: $white;
      -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    &:first-child {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    &:last-child {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      &:after {
        display: none;
      }
    }


    &.complete, &.active {
      border-radius: none;

      a, span {
        color: $white;
      }
    }

    &.complete {
      background-color: darken($primary, 5%);

      &:after {
        background-color: darken($primary, 5%);
      }
    }

    &.active {
      background-color: $primary;

      &:after {
        background-color: $primary;
      }
    }
  }
}
