.checkout-progress-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: $white;
  border: 1px solid $off-white;
  border-radius: 30px;
  width: 100%;
  margin: 30px 0 60px;

  /* ----------- Progress bar common styling ----------- */

  .progress-block {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 15px 10px;

    a, span {
      color: $secondary;
      z-index: 1;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      line-height: inherit;

      &:hover {
        text-decoration: none;
      }
    }

    .after-triangle {
      @include vertical-align(absolute);
      left: auto;
      right: 1px;
      transform: translateX(100%) translateY(-50%);
      height: 100%;
      background-color: $white;
      svg {
        height: 100%;
        .triangle {
          fill: $white;
          stroke: $black;
        }
      }
    }

    &:first-child {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    &:last-child {
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

      &:after {
        display: none;
      }
    }


    &.complete, &.active {
      border-radius: none;

      a, span {
        color: $white;
      }
    }

    &.complete {
      background-color: darken($secondary, 5%);

      .after-triangle {
        svg {
          .triangle {
            fill: darken($secondary, 5%);
          }
        }
      }
    }

    &.active {
      background-color: $secondary;

      .after-triangle {
        svg {
          .triangle {
            fill: $secondary;
          }
        }
      }
    }
  }
}
