.product-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;

  .product-image {
    width: 230px;
    height: 300px;
    object-fit: cover;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  .product-title {

  }
  .price {

    del {
      color: $off-black;
    }

    ins {
      text-decoration: none;
    }
  }
}
