// Define responsive breakpoints
$mobile: new-breakpoint(max-width 800px  12);
$tablet: new-breakpoint(max-width 1020px 12);

// Colours
$textcolor: #666;
$white: #FFF;

// Fonts
$fontstack: '';


$warning: "\e900";
$chevron-down: "\e600";
$chevron-left: "\e601";
$chevron-right: "\e602";
$chevron-small-down: "\e603";
$chevron-small-left: "\e604";
$chevron-small-right: "\e605";
$chevron-small-up: "\e606";
$chevron-thin-down: "\e607";
$chevron-thin-left: "\e608";
$chevron-thin-right: "\e609";
$chevron-thin-up: "\e60a";
$chevron-up: "\e60b";
$chevron-with-circle-down: "\e60c";
$chevron-with-circle-left: "\e60d";
$chevron-with-circle-right: "\e60e";
$chevron-with-circle-up: "\e60f";
$cloud: "\e610";
$dots-three-horizontal: "\e611";
$flow-tree: "\e901";
$resize-100: "\e902";
$resize-full-screen: "\e903";
$save: "\e904";
$select-arrows: "\e905";
$area-graph: "\e612";
$attachment: "\e613";
$browser: "\e614";
$camera: "\e906";
$chat: "\e907";
$check: "\e615";
$circle-with-cross: "\e908";
$circle-with-minus: "\e909";
$circle-with-plus: "\e90a";
$code: "\e616";
$cog: "\e617";
$colours: "\e90b";
$credit-card: "\e90c";
$credit: "\e618";
$cross: "\e619";
$database: "\e61a";
$dial-pad: "\e90d";
$direction: "\e61b";
$drop: "\e61c";
$edit: "\e61d";
$email: "\e61e";
$flash: "\e61f";
$game-controller: "\e620";
$gauge: "\e90e";
$globe: "\e621";
$hand: "\e622";
$heart-outlined: "\e623";
$heart: "\e624";
$help-with-circle: "\e90f";
$help: "\e910";
$image-inverted: "\e911";
$image: "\e912";
$info-with-circle: "\e625";
$info: "\e626";
$keyboard: "\e627";
$landline: "\e628";
$laptop: "\e629";
$lifebuoy: "\e62a";
$light-bulb: "\e62b";
$line-graph: "\e62c";
$link: "\e62d";
$list: "\e62e";
$location-pin: "\e62f";
$location: "\e630";
$lock: "\e631";
$magnet: "\e632";
$magnifying-glass: "\e633";
$mail: "\e634";
$man: "\e635";
$map: "\e636";
$mask: "\e637";
$medal: "\e638";
$megaphone: "\e639";
$menu: "\e63a";
$message: "\e63b";
$mic: "\e63c";
$minus: "\e63d";
$mobilephone: "\e63e";
$modern-mic: "\e63f";
$new-message: "\e640";
$new: "\e641";
$news: "\e642";
$note: "\e913";
$old-mobile: "\e643";
$old-phone: "\e644";
$paper-plane: "\e645";
$pencil: "\e646";
$phone: "\e647";
$pie-chart: "\e648";
$pin: "\e649";
$plus: "\e64a";
$quote: "\e64b";
$rocket: "\e64c";
$rss: "\e64d";
$ruler: "\e64e";
$scissors: "\e64f";
$share: "\e650";
$shield: "\e651";
$shop: "\e652";
$shopping-basket: "\e653";
$sound-mix: "\e654";
$star-outlined: "\e655";
$star: "\e656";
$switch: "\e657";
$thunder-cloud: "\e658";
$time-slot: "\e659";
$tools: "\e65a";
$traffic-cone: "\e65b";
$trophy: "\e65c";
$tv: "\e65d";
$typing: "\e65e";
$user: "\e65f";
$users: "\e660";
$dropbox: "\e661";
$google-drive: "\e914";
$icloud: "\e915";
$paypal: "\e916";
$skype-with-circle: "\e917";
$soundcloud: "\e918";
$spotify-with-circle: "\e662";
$spotify: "\e663";
$vine-with-circle: "\e664";
$vine: "\e665";
$facebook-with-circle: "\e666";
$facebook: "\e667";
$github-with-circle: "\e668";
$github: "\e669";
$google-with-circle: "\e66a";
$google: "\e66b";
$instagram-with-circle: "\e66c";
$instagram: "\e66d";
$linkedin-with-circle: "\e66e";
$linkedin: "\e66f";
$pinterest-with-circle: "\e670";
$pinterest: "\e671";
$twitter-with-circle: "\e672";
$twitter: "\e673";
$vimeo-with-circle: "\e674";
$vimeo: "\e675";
$youtube-with-circle: "\e676";
$youtube: "\e677";
