.mini-cart {
  position: relative;

  .mini-cart-button {
    display: block;
    width: 40px;
    height: 35px;
    background-image: url('../../images/minicart.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    position: relative;

    .count-bubble {
      position: absolute;
      top: -5px;
      left: auto;
      right: -5px;
      font-size: 12px;
      padding: 5px;
      line-height: 1;
      z-index: 2;
      margin: -0.5px;
      &:before {
        content: '';
        @include center-align();
        width: 100%;
        padding-bottom: 100%;
        background-color: $success;
        border-radius: 50%;
        z-index: -1;
      }
    }
  }
  .cart-dropdown {
    display: none;
    &.active {
      display: block
    }
    position: absolute;
    top: calc(100% + 15px);
    right: 15px;
    width: 350px;
    border: 1px solid rgba($black, 0.2);

  }
}
