
.cart-contents {
  .cart-items {
    .cart-item {
      height: 100px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba($black, 0.2);
      // &:first-child {
      //   border-top: 1px solid rgba($black, 0.2);
      // }

      .product-image {
        display: block;
        height: 100px;
        width: 100px;
        background-color: $off-white;
      }

      .product-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .name {
          text-align: right;
          font-weight: bold;
        }

        .quantity {
          text-align: right;
          font-size: 12px;
        }

        .item-footer {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-end;

          .remove-button {
            color: $primary;
            font-size: 12px;
            text-decoration: underline;

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
  .cart-totals {
    .totals-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 20px 10px;
      background-color: $off-white;

      &.subtotal {
        .value {
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
  .cart-actions {
    display: flex;
    flex-direction: row;

    .cart-action {
      flex: 1;
      padding: 20px 10px;
      color: black;
      background-color: $secondary;
      text-align: center;
      border-top: 1px solid rgba($black, 0.2);
      border-right: 1px solid rgba($black, 0.2);
      transition: background-color 0.3s ease;

      &:last-child {
        border-right: none;
      }

      &:hover {
        text-decoration: none;
        background-color: $secondary-darker;
      }
    }
  }
}

.empty-cart {
  padding: 100px 20px;
  text-align: center;

  span {
    @include headings-font();
    display: block;

    &.title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
