@charset "UTF-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	font-weight: 100;
}

// Import neat
@import "bourbon/bourbon";
@import "neat/neat";

@import "utilities/animations";
@import "utilities/hiding";
@import "utilities/omega-reset";
@import "utilities/positioning";
@import "utilities/sass-easing";

@import "partials/variables";
@import "partials/common";
@import "partials/components";
@import "partials/fonts";
@import "partials/forms";
@import "partials/header";
@import "partials/breadcrumbs";
@import "partials/footer";
@import "partials/layout";
@import "partials/mixins";
@import "partials/slick";
@import "partials/slick-theme";
@import "partials/navigation";

@import "sections/homepage";
@import "sections/contact-us";

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter {

	div.aligncenter {
		display: block;
		margin: 5px auto 5px auto;
	}

}

.alignright {
  float:right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float:left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

a {

	img.alignright {
			float:right;
			margin: 5px 0 20px 20px;
	}

	img.alignnone {
			margin: 5px 20px 20px 0;
	}

	img.alignleft {
			float:left;
			margin: 5px 20px 20px 0;
	}

	img.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto
	}

}

.wp-caption {

  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%; /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;

	&.alignnone {
		margin: 5px 20px 20px 0;
	}

	&.alignleft {
		margin: 5px 20px 20px 0;
	}

	&.alignright {
		margin: 5px 0 20px 20px;
	}

	img {
		border: 0 none;
		height: auto;
		margin:0;
		max-width: 98.5%;
		padding:0;
		width: auto;
	}

	p.wp-caption-text {
		font-size:11px;
		line-height:17px;
		margin:0;
		padding:0 4px 5px;
	}

}

/* = Browser Update Styles
-------------------------------------------------------------- */
#outdated{
	display: none;
}

.ie8down{
  #outdated{
		display:block;
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:170px;
		text-align:center;
		z-index:1500;
		background-color:#21b8ce;
		color:#fff;
		h6{
			font-size:25px;
			line-height:25px;
			margin:30px 0 20px;
		}
		p{
			font-size:12px;
			line-height:12px;
			margin:0;
		}
		#btnUpdateBrowser{
			display:block;
			position:relative;
			padding:10px 20px;
			margin:20px auto 0;
			width:230px;
			color:#fff;
			text-decoration:none;
			border:2px solid #fff;
			cursor:pointer;
			&:hover{
				color:#f25648;
				background-color:#fff;
			}
	  }
		.last{
			position:absolute;
			top:10px;
			right:25px;
			width:20px;
			height:20px;
		}
		#btnCloseUpdateBrowser{
			display:block;
			position:relative;
			width:100%;
			height:100%;
			text-decoration:none;
			color:#fff;
			font-size:36px;
			line-height:36px;
		}
	}
}
