/*=============================================>>>>>
= App Styles =
===============================================>>>>>*/

body {
  position: relative;
  // Prevent background scroll when modal is open
  &.modal-open {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }
}

.wrap {
  display: block;
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}
