/*=============================================>>>>>
= Grid =
===============================================>>>>>*/

// ----- Default grid settings ----- //

$max-width:           1320px;
$grid-columns:        12;
$gap:                 20px;
$default-feature:     max-width;


// ----- Define breakpoints ----- //

$large-desktop:       1280px;
$desktop:             880px;
$tablet:              680px;
$mobile:              380px;

$large-desktop-down:  new-breakpoint(max-width ($large-desktop + 440px) 12);
$desktop-down:        new-breakpoint(max-width ($desktop + 440px) 12);
$tablet-down:         new-breakpoint(max-width ($tablet + 440px) 12);
$mobile-down:         new-breakpoint(max-width ($mobile + 440px) 4);

$large-desktop-up:    new-breakpoint(min-width $large-desktop 12);
$desktop-up:          new-breakpoint(min-width $desktop 12);
$tablet-up:           new-breakpoint(min-width $tablet 12);
$mobile-up:           new-breakpoint(min-width $mobile 12);


// --------------------------------------------------------------------------
//   Initialise media query order
// --------------------------------------------------------------------------

@include media($large-desktop-down) { /* */ }
@include media($desktop-down) { /* */ }
@include media($tablet-down) { /* */ }
@include media($mobile-down) { /* */ }

@include media($mobile-up) { /* */ }
@include media($tablet-up) { /* */ }
@include media($desktop-up) { /* */ }
@include media($large-desktop-up) { /* */ }


// --------------------------------------------------------------------------
//   Centering mixin for containers
// --------------------------------------------------------------------------

@mixin center {
  @include outer-container;

  @include media($desktop-down) {
    width: $desktop;
  }

  @include media($tablet-down) {
    width: $tablet;
  }

  @include media($mobile-down) {
    max-width: $mobile;
    width: auto;
  }
}
