input[type="text"],
input[type="search"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="file"],
textarea,
select {
	padding: 15px;
	background: #FFF;
	border: 1px solid #DDD;
	line-height: normal;
	display: block;
	width: 100%;
    font-size: 16px;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
	&:focus {
		outline: none;
	}
}

input[type="file"] {
	&:hover {
		cursor: pointer;
	}
}

input[type="search"] {
	width: auto;
	display: inline-block;
}

select[multiple],
select[size] {
	height: auto;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	display: inline-block;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	padding: 20px 60px;
    font-size: 16px;
    background: #000;
    color: #FFF;
	display: inline-block;
    cursor: pointer;
	border: 0;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
}


@include media($tablet) {

}
@include media($mobile) {

}
