/*=============================================>>>>>
= Header Component Styles =
===============================================>>>>>*/
header#banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
