.layered-navigation {

  h1 {
    margin-bottom: 20px;
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba($black, 0.2);
    padding: 10px 0;

    .title {
      font-size: 22px;
      font-weight: bold;
    }
  }

  .filter-block {
    padding: 10px 0;
    .title {
      display: block;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    &.price-slider {
      .rc-slider {
        width: calc(100% - 15px);
        margin: 0 auto;
        padding: 20px 0;
      }
    }

    .options {
      .option {
        span {
          display: inline-block;
          &:before {
            display: inline-block;
            content: '';
            width: 10px;
            height: 10px;
            border: 1px solid $tertiary;
            background-color: $white;
            margin-right: 10px;
            transition: background-color 0.3s ease;
          }
        }
        &.active {
          span {
            &:before {
              background-color: $tertiary;
            }
          }
        }
      }
    }
  }
}
