/* ------------------------------------------------------
  Cool stuffs
------------------------------------------------------ */
// Functions
$browser-context: 16; // Base font size

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
