/* ------------------------------------------------------
  Common elements such as headings and forms
------------------------------------------------------ */
.wrap{
  @include span-columns(12);
}

.container {
  @include outer-container;
  max-width: 1400px;
  padding: 0 20px;
  position: relative;
}

%hoverlink {
  &:hover {
    text-decoration: underline;
  }
}
