/*=============================================>>>>>
= Grid =
===============================================>>>>>*/

// ----- Default grid settings ----- //

$max-width:           1320px;
$grid-columns:        12;
$gap:                 20px;
$default-feature:     max-width;


// --- Wrapping Element --- //

.wrap {
  max-width: $max-width;
  padding: 0 $gap;
  margin-left: auto;
  margin-right: auto;
}


// ----- Define breakpoints ----- //

$large-desktop-breakpoint:  1600px;
$desktop-breakpoint:        1340px;
$tablet-breakpoint:         1080px;
$mobile-breakpoint:         800px;
$mobile-small-breakpoint:   500px;
$mobile-smaller-breakpoint: 320px;

$large-desktop-down:        new-breakpoint(max-width ($large-desktop-breakpoint) 12);
$desktop-down:              new-breakpoint(max-width ($desktop-breakpoint) 12);
$tablet-down:               new-breakpoint(max-width ($tablet-breakpoint) 12);
$mobile-down:               new-breakpoint(max-width ($mobile-breakpoint) 4);
$mobile-small-down:         new-breakpoint(max-width ($mobile-small-breakpoint) 4);
$mobile-smaller-down:       new-breakpoint(max-width ($mobile-smaller-breakpoint) 4);

$large-desktop-up:          new-breakpoint(min-width $large-desktop-breakpoint 12);
$desktop-up:                new-breakpoint(min-width $desktop-breakpoint 12);
$tablet-up:                 new-breakpoint(min-width $tablet-breakpoint 12);
$mobile-up:                 new-breakpoint(min-width $mobile-breakpoint 12);
$mobile-small-up:           new-breakpoint(min-width $mobile-small-breakpoint 12);
$mobile-smaller-up:         new-breakpoint(min-width ($mobile-smaller-breakpoint) 4);


// --------------------------------------------------------------------------
//   Initialise media query order
// --------------------------------------------------------------------------

@include media($large-desktop-down) { /* */ }
@include media($desktop-down) { /* */ }
@include media($tablet-down) { /* */ }
@include media($mobile-down) { /* */ }
@include media($mobile-small-down) { /* */ }
@include media($mobile-smaller-down) { /* */ }

@include media($mobile-smaller-up) { /* */ }
@include media($mobile-small-up) { /* */ }
@include media($mobile-up) { /* */ }
@include media($tablet-up) { /* */ }
@include media($desktop-up) { /* */ }
@include media($large-desktop-up) { /* */ }


// --------------------------------------------------------------------------
//   Centering mixin for containers
// --------------------------------------------------------------------------

@mixin center {
  @include outer-container;

  @include media($desktop-down) {
    width: $desktop;
  }

  @include media($tablet-down) {
    width: $tablet;
  }

  @include media($mobile-down) {
    max-width: $mobile;
    width: auto;
  }
}
