
.cart-contents {
  padding: 25px 20px;

  &.cart-empty {
    padding: 40px 20px;
    .cart-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
  }

  .cart-title {
    display: block;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .empty-cart-message {
    display: block;
    margin-bottom: 30px;
  }

  .cart-items {
    max-height: 400px;
    overflow-y: scroll;

    .cart-item {
      display: flex;
      flex-direction: row;
      border-top: 1px solid $off-white;
      padding: 20px 0px;

      .product-image {
        display: block;
        height: 80px;
        width: 80px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-right: 10px;
      }

      .product-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        margin-bottom: 10px;

        .name {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          span {
            text-align: left;
          }

          .remove-button {
            display: block;
            height: 12px;
            width: 12px;
            color: $off-white;
            margin-left: 20px;

            &:hover, &:active, &:focus {
              text-decoration: none;
            }

            &:after {
              content: 'x';
              font-size: 12px;
              color: $off-black;
              transition: color 0.3s ease;
            }
          }
        }

        .subtotal {
        }
      }
    }
  }
  .cart-totals {
    .totals-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      padding: 20px 10px;
      margin-bottom: 30px;

      &.subtotal {
        font-size: 18px;
        background-color: $off-white;
        padding: 20px 10px;
      }
    }
  }
  .cart-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .cart-action {
      flex: 1;
      padding: 20px 10px;
      color: black;
      color: $white;
      background-color: $primary;
      text-align: center;
      border-top: 1px solid rgba($black, 0.2);
      border-right: 1px solid rgba($black, 0.2);
      transition: background-color 0.3s ease;

      &:last-child {
        border-right: none;
      }

      &:hover {
        text-decoration: none;
        background-color: $primary-darker;
      }
    }
  }
}

.empty-cart {
  padding: 80px 20px 180px;
  text-align: center;
  font-size: 18px;

  span {
    display: block;

    &.title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}
